.engine {
    color: rgb(155, 156, 70);
    background-color: rgb(36, 169, 187);
  }
  
  .center-screen {
    margin-top: 5%;
    margin: auto;
  }
  
  .link-class {
    text-align: center;
    font-family: sans-serif;
  }