.engine {
    color: rgb(155, 156, 70);
    background-color: rgb(173, 185, 226);
  }
  
  .center-screen {
    margin-top: 5%;
  }
  
  .link-class {
    text-align: center;
    font-family: sans-serif;
  }